/* 
## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.container {
    width: 60%;
    max-height: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
    font-family: "karla", sans-serif;
}

.header {
    background-color: #fff;
    padding: 4rem;
}

.heading-text,
.main-text {
    margin-bottom: 2rem;
}

.heading-text-big {
    color: hsl(179, 60%, 72%);
    font-size: 2.5rem;
    font-weight: 700;
}

.para-text {
    font-size: 1.9rem;
    font-weight: 400;
    /* width: 65%; */
    font-family: inherit;
    color: #c1c4cd;
    line-height: 1.5;
    white-space: pre-line;
}

.heading-text-small {
    color: hsl(71, 73%, 54%);
    font-size: 2rem;
    font-weight: 400;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-sub {
    background-color: hsl(179, 62%, 43%);
    display: grid;
}

.text {
    font-size: 1.8rem;
    color: #fff;
}

.btn {
    width: 100%;
    border-radius: 3px;
    padding: 2rem;
    background-color: hsl(71, 73%, 54%);
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    margin-top: 1.5rem;
}

.main-sub-text {
    margin: auto;
    padding: 3rem;
}

.main-text-med {
    font-size: 1.8rem;
    color: #fff;
}

.main-text-small {
    color: #fff;
    font-size: 3rem;
    display: flex;
}

h3>span {
    color: hsl(218, 22%, 67%);
    font-size: 1.8rem;
    align-self: center;
    margin-left: 1.5rem;
}

.main-sup {
    background-color: hsl(178, 61%, 71%);
    padding: 3rem;
}

.text-1 {
    font-size: 1.6rem;
    color: hsl(218, 22%, 67%);
    line-height: 1.4;
    white-space: pre-line;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
    .container {
        width: 75%;
    }
    .para-text {
        white-space: normal;
    }
    .attribution {
        bottom: 1%;
    }
}

@media only screen and (max-width: 43.75em) {
    .container {
        width: 90%;
        padding: 7rem 0;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .attribution {
        bottom: -70%;
    }
}

@media only screen and (max-width: 37.5em) {
    .container {
        padding: 0;
    }
    .attribution {
        bottom: -10%;
    }
}